<?php

ob_start();
session_start();

// include helper functions
include("../config/config.php");
include("../helpers/utils.php");

?>

<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width-device-width, initial-scale=1">

	<!-- Text Editor -->
	<script src="../helpers/ckeditor/ckeditor.js"></script>

	<!-- CSS Files -->
	<link rel="stylesheet" href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/bg.css" rel="stylesheet">
	
	<title>
	<?php // Print the page title.
	if (defined('TITLE')) {
		print TITLE;
	} else {
		print 'CVWO Blog Assignment';
	}
	?>
	</title>
</head>
<body>
	<div class="container">
		<div class="page-header text-center">
			<h1 id="head">Blog Assignment</h1>
			<p>CVWO Assignment 1. View github repo for this project <a href="https://github.com/kenoung/myblog">here</a>.</p>
		</div>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href=".."><strong>Cover</strong></a>
				</div>
				<div>
					<ul class="nav navbar-nav navbar-right">

						<li><a href="home.php"><span class="glyphicon glyphicon-home"></span> Home</a></li>
						<?php // Change link depending on log-in status

						if ( (is_administrator() && (basename($_SERVER['PHP_SELF']) != 'logout.php')) OR (isset($loggedin) &&  $loggedin) ) {

							// Allow add post

							print '<li><a href="add_post.php"><span class="glyphicon glyphicon-pencil"></span> Add Post</a></li>';

							print '<li><a href="categories.php"><span class="glyphicon glyphicon-tag"></span> Categories</a></li>';

							// Allow log out
							print "\n\t\t\t\t\t\t".'<li><a href="logout.php"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>'."\n";

						} else {

							// Allow sign-up
							print '<li><a href="register.php"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>';

							// Allow log in 
							print "\n\t\t\t\t\t\t".'<li><a href="login.php"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>'."\n";
						}

						?>
					</ul>
				</div>
			</div>
		</nav>


