<?php

// include helper functions

include("../helpers/utils.php");

?>

<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width-device-width, initial-scale=1">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css" rel="stylesheet">
	<title>
	<?php // Print the page title.
	if (defined('TITLE')) {
		print TITLE;
	} else {
		print 'CVWO Blog Assignment';
	}
	?>
	</title>
</head>
<body>
	<div class="container">
		<h1><strong>Blog Assignment</strong></h1>
		<br />